{
  "extends": "airbnb-base",
  "env": {
    "jest": true
  },
  "globals": {
    "localStorage": true,
    "fetch": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    }
  }
}